/*sidebars*/

.sidebar-left {
  background-color: #010026;
  color: white;
  text-align: center;
  padding: 16px;
}

.sidebar-left-top, .sidebar-left-middle {
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.sidebar-left-top {
  background-color: #635a63;
  padding: 8px;
}

.sidebar-left-middle {
  color: #635a63;
}

.sidebar-left-middle:hover {
  color: white;
}

.sidebar-left .plus:hover {
  background-color: #635a63;
  padding: 8px;
}

.sidebar-right {
  background-color: #2C3849;
  color: rgba(255,255,255,0.6);
  padding: 16px;
  width: 200px;
  flex-shrink: 0;
}

.sidebar-right h2, .sidebar-right .design {
  color: white;
}

.sidebar-right h2 {
  margin-bottom: 5px
}

.channels, .messages {
  margin-top: 24px;
}

.channels .channel {
  margin-bottom: 2px;
}

.channels .channel:hover, .messages .person:hover {
  background-color: #4A5664;
}

.channels .fab, .channels .fas {
  margin-right: 8px;
  font-size: 12px;
}

.channels-header h3, .channels-header i, .messages-header h3, .messages-header i {
  font-size: 16px;
  color: white;
}

.channels h3, .messages h3 {
  margin-bottom: 0;
}

.channels .plus {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 720px) {
  .sidebar {
    display: none;
  }
}
